@charset "UTF-8";

.hidden {
	display: none;
}

.button {
	font-family: 'NanumSquareRound', Arial, san-serif;
}

/*tab*/
.tab-content {
	border-radius : 3p
}

.reviewImg {
	width : 100px;
	height : 100px;
	border-radius : 3px;
}

/*adminNav*/
.nav,.nav-pills,.nav-fill {
	border : 1px solid #eee;
	background-color: #eee;
	border-radius : 3px;
}

.nav .nav-item a {
	text-decoration: none;
	color : #000;
}

.nav .nav-item .nav-link

.nav .nav-item .nav-link:hover {
	background-color: #E91E63;
	color : #fff;
}

/* .card {
	background-color: #eee;
} */